%h1 Pages#index
%p= link_to('Basic Datatable', basic_datatable_path)
%p= link_to('Ajax Datatable', movies_path)
%p= link_to('Page 2', page2_path)

.container.border.p-5
  .row.justify-content-between
    .col-2.bg-success.m-1 works!!!
    .col-2.bg-success.m-1 works!!!
    .col-2.bg-success.m-1 works!!!

.container-fluid.border.mt-5.p-5
  .row.justify-content-center
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
    .col-8.col-md-6.col-lg-4
      .card
        .card-body
          hello
.container#last-movie
  %h3 Lazy-box
  = link_to "New Movie", new_movie_path, remote: true
  %p Last movie
  = @last_movie.name
  %hr
  %h4 Movies Notifications
  - current_user.notifications.each do |notification|
    %p
      = "#{notification.key} - #{notification.created_at}"
  .container
    %h3 Bate Papo do Chelo
    %div#chat-box.chat-container.border.border-warning
      = render "messages/messages", messages: @messages

    = render "message_form", new_message: @new_message

